
FRED_API_KEY
arg_gov_oil_and_gas_dataset.csv
.ipynb_checkpoints/Predicciones-checkpoint.ipynb
.ipynb_checkpoints/EN_Predicciones-checkpoint.ipynb
.ipynb_checkpoints/EN_Analisis_Pozos-checkpoint.ipynb
.ipynb_checkpoints/Analisis_Pozos-checkpoint.ipynb
